<div class="card mt-3">
    <ul class="list-group list-group-flush">
        {%if main_user%}
        <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
            <form action="{%url 'subscriptions' request.user.username%}">
                <button class="btn btn-success btn-lg">SUBSCRIBES</button>
            </form>
        </li>
        {%endif%}
        {%if not main_user%}
        <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
            <form action="{%url 'following' username%}" method="post" >
                {%csrf_token%}
                {%if profile in request.user.followers.all%}
                <button class="btn btn-danger btn-lg" name="following" value="unfollow">UNFOLLOW</button>
            </form>
            {%else%}
            <form action="{%url 'following' username%}" method="post">
                {%csrf_token%}
                <button class="btn btn-warning btn-lg" name="following" value="follow">FOLLOW</button>
                {%endif%}
            </form>
        </li>
        {%endif%}
    </ul>
</div>