{%load static%}
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #7c81ff;">
        <div class="container-lg">
            <a class="navbar-brand" href="{%url 'main'%}">&#128251; <b>UGF</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {%if '/registration' in request.path or '/login' in request.path %}
            {%else%}
            <div class="collapse navbar-collapse d-flex justify-content-between" id="Header_nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link main-navbar-link {%if '/main' in request.path %} active {%endif%}"
                           aria-current="page" href="{%url 'main'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-navbar-link {%if '/developers' in request.path %} active {%endif%}"
                           href="{%url 'developers'%}">Developers</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link main-navbar-link {%if '/genres' in request.path %} active {%endif%}"
                           href="{%url 'genres'%}">Genres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-navbar-link {%if '/games' in request.path %} active {%endif%}"
                           href="{%url 'games'%}">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {%if '/user_search' in request.path %} active {%endif%}"
                           href="{%url 'user_search'%}">Search</a>
                    </li>
                </ul>
                <div class="column profile-contact-me float-end ">
                    <ul class="navbar-nav">
                        {%if '/user_profile' in request.path and request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'appeals'%}" title="There's {{new_appeals}} new appeals!">&#128126;
                                <span
                                        class="badge rounded-pill text-bg-warning">{{new_appeals}}</span></a>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <!-- Button trigger modal -->

                            <button type="button" style="text-decoration:none" class="btn btn-link nav-link"
                                    data-bs-toggle="modal" data-bs-target="#contact-me-form" title="Send a feedback!">
                                &#128172;
                            </button>

                        </li>
                        {%endif%}
                        <li class="nav-item user-select-none">
                            <a class="nav-link" href="#">&#127482;&#127462;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'user_profile' request.user.username%}">&#x26A1;</a>
                        </li>
                    </ul>
                </div>
                {%endif%}
            </div>
        </div>
    </nav>


</header>

