<!--main block!-->

<section id="main_game_info_section">
    <div class="container" style="border:solid; border-size:1px">
        <div class="row" style="border:solid; border-size:1px">
            <div class="col" style="border:solid; border-size:1px">
                <div class="row align-items-center" style="border:solid; border-size:1px">
                    <div class="col-3 m-3" style="border:solid; border-size:1px">
                         {% for game in last_three|dictsortreversed:"game_score" %}
                        <p><b><a  href="{%url 'game_page' game.game_title.slug%}" style="text-decoration:none;">{{game.game_title}} --
                            <span>✪ {{game.game_score}}</span></a></b></p>
                        {%endfor%}
                    </div>
                    <div class="col-8 m-3" style="border:solid; border-size:1px">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>