<!--main block!-->

<section id="main_game_info_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-4 m-3 border border-success p-2 mb-2 border-opacity-25 rounded">
                        <ul class="list-group list-group-flush">
                            {% for game in games%}
                            <li class="list-group-item">
                                <h6><b><a href="{%url 'game_page' game.slug%}" style="text-decoration:none;">
                                    <span style="color:black">{{game.name}}</span></a>
                                    --
                                    <span style="color:grey">✪ {{game.avg_score}}</span></b></h6>
                            <hr></li>

                            {%endfor%}
                        </ul>
                    </div>
                    <div class="col-6 m-3 border border-success p-2 mb-2 border-opacity-25 rounded">
                        <div class="card m-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
