body {
min-width:320px;
font-size:14px;
font-family: 'Play', sans-serif;
color:#626262
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}
.reg-forms{
width:40%;
margin: 1%;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fr-fic.fr-dib {
    float: left;
    width:  100% !important;
    object-fit: cover;
}

.fr-inner {
    margin-left: 43% !important;
}

iframe {
    width:100%;
}

.rate-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}


/*.gotit:hover {
    background-color: yellow;
}*/