body {
min-width:320px;
font-size:14px;
font-family: 'Play', sans-serif;
color:#626262
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}
.reg-forms{
width:40%;
margin: 1%;
}


/*.gotit:hover {
    background-color: yellow;
}*/