{%extends 'hadesapp/base.html'%}
{%load static%}
{%block content%}

<section class="m-3">
     <div class="col-6 mx-auto m-2 rounded p-3 border border-success p-2 mb-2 border-opacity-25">
                        <div class="card m-2 " style="width: 100%">
                            <div class="card-body">
                                <h5 class="card-title">{{article|title}}</h5>
                                <p>{{article.content|safe}}</p>
                            </div>
                        </div>
                    </div>
</section>

{%endblock%}
{%block add_js%}
{%endblock%}