<!DOCTYPE html>
{%load static%}
<html lang="en, ua">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static '/css/bootstrap.min.css'%}?var=1.2">
    <link rel="stylesheet" type="text/css" href="{%static '/css/custom_css.css'%}?var=1.4">
    <title>{{title}}</title>
    {{ editor.media }}

</head>
<body class="body">
<!--Here goes the header-->
{%include 'hadesapp/components/header_navbar.html'%}
{%block content%}
<!--Here goes main content-->
{%endblock%}
<!--Here goes footer-->
{%include 'hadesapp/components/footer.html'%}
<!-- Modal Contact Us-->
<div class="modal fade" id="contact-me-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please, give us your feedback:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="contact_us_form" action="{%url 'contact_us'%}" method="post">
                {%csrf_token%}
                <div class="modal-body">
                    <div class="column m-2 warning-div"></div>
                    <fieldset>
                        <div class="mb-3">
                            <div class="alert alert-warning" role="alert" style="width:96%; display:none"
                                 data-field='email'>
                                {%if appeal_form.errors.email%}
                                {{ appeal_form.errors.email}}
                                {%endif%}
                            </div>
                            <label class="form-label"><b>* {{appeal_form.email.label}}:</b></label>
                            {{appeal_form.email}}
                        </div>
                        <div class="mb-3">
                            <div class="alert alert-warning" role="alert" style="width:96%; display:none"
                                 data-field='theme'>
                                {%if appeal_form.errors.theme%}
                                {{ appeal_form.errors.theme}}
                                {%endif%}
                            </div>
                            <label class="form-label"><b>* {{appeal_form.theme.label}}:</b></label>
                            {{appeal_form.theme}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label"><b>{{appeal_form.message.label}}</b></label>
                            {{appeal_form.message}}
                        </div>
                    </fieldset>
                    <p><i>* -- required fields!</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="send_appeal" class="btn btn-success">SEND!</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal for thanks!-->
<div class="modal fade" id="thanks_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="thanks_title">THANK YOU!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>We really appreciate your opinion!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    // Simple jQuery examples:
    // let mainUsernameSelector = $(".main-username");
    // mainUsernameSelector.on("mouseenter", function(e) {
    //     console.log(e)
    //     $(this).css({background: "pink"});
    // });
    // mainUsernameSelector.on("mouseleave", function(e) {
    //     $(this).css({background: "transparent"});
    // });
    // mainUsernameSelector.one("click", function(e) {
    //     $(this).after("<p class='goodbye'>Goodbye, Mr.Anderson.</p>");
    // });
    // $(".username-box").on("mouseenter", ".goodbye", function(e){
    //     $(this).css({background:"yellow"});
    // });
    $(".mb-3 input[name='email']").val('{{request.user.email}}')
    $("button[name='send_appeal']").on("click", function(e){
        e.preventDefault();
        let laButton = $(this);
        let laEmail = $(".mb-3 input[name='email']").val()
        const pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
        if (laEmail.length <= 0) {
            $(".warning-div").html("<div class='alert alert-warning' role='alert'>Please, enter the email!</div>");
                return false
        }
        else if (!pattern.test(laEmail)) {
            $(".warning-div").html("<div class='alert alert-warning' role='alert'>Please, check if email written correctly!</div>");
            return false
        }
        let laTheme = $(".mb-3 input[name='theme']").val()
        if (laTheme.length <= 0) {
            $(".warning-div").html('<div class="alert alert-warning" role="alert">Please, enter the theme of feedback!</div>');
            return false
        }
        let laMessage = $(".mb-3 textarea[name='message']").val()
        let data = {
            email: laEmail,
            theme: laTheme,
            message: laMessage,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        };

            $.ajax({
                type: 'POST',
                url: $("form#contact_us_form").attr('action'),
                data: data,
                success: function( result ) {
                    $('#contact-me-form').modal('toggle');
                    $('#thanks_modal').modal('toggle');
                },
                error: function( result ){
                    console.log(result.responseJSON.error)
                    console.log(result.status)
                    let themeWarning = $('#contact-me-form .alert-warning[data-field="theme"]')
                    let emailWarning = $('#contact-me-form .alert-warning[data-field="email"]')
                    if (result.responseJSON && result.responseJSON.error){
                        if (result.responseJSON.error.email){
                            emailWarning.html(result.responseJSON.error.email.join('<br>')).show()
                        }else{
                            emailWarning.html('').hide()
                        }
                        if (result.responseJSON.error.theme){
                            themeWarning.html(result.responseJSON.error.theme.join('<br>')).show()
                        }else{
                            themeWarning.html('').hide()
                        }
                    }else{
                        alert('Something with that gone wrong.')
                    }
                }
            });
        });
    });

</script>

{%block add_js%}
{%endblock%}

</html>