{%extends 'hadesapp/base.html'%}
{%load static%}
{%block content%}
<h1>Games_page</h1>

<div class="container text-center">
    <div class="row">
        {%if hidden%}
        <div class="col" hidden="">
            {%else%}
            <div class="col">
                {%endif%}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Game</th>
                        <th scope="col">Release date</th>
                        {%if request.user.is_staff%}
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                        {%endif%}
                    </tr>
                    </thead>
                    <tbody>
                    {%for game in game%}
                    <tr>
                        <th scope="row">{{game.id}}</th>
                        <td><a href="{%url 'game_page' game.slug%}">{{game}}</a></td>
                        <td>{{game.date_of_release}}</td>
                        {%if request.user.is_staff%}
                        <td><a href="{%url 'update_game' game.slug %}">update</a></td>
                        <td><a href="{%url 'delete_game' game.slug %}">delete</a></td>
                        {%endif%}
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            {%if request.user.is_staff%}
            <div class="col">
                <form method="post" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{game_form.as_p}}
                    {{attachment_form.as_p}}
                    <input type="submit" name="Submit">
                </form>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}