<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static '/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/css/custom_css.css'%}">
    <title>{{title}}</title>
</head>
<body>
<header style="margin-top:2%">
    <div class="container" style="margin-bottom:2%">
        <a class="navbar-brand" href="#" style="margin-left: 45%; margin-top:7px;"><img
                src="{%static '/images/logo.png'%}"
                alt="logo.png"
                width="100" height="50"></a>
    </div>
</header>
<div class="center-block col-md-6" style="margin:auto; border:solid;border-width:1px;
border-radius:20px; padding:2%;">
    <h2>Signing in on UGF:</h2>

    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            {%if form.errors.username%}
            <div class="alert alert-warning" role="alert" style="width:96%">
                {{ form.errors.username}}
            </div>
            {%endif%}
            <div class="input-group flex-nowrap reg-forms" style="width:95%">
                <span class="input-group-text" style="width:160px">{{form.username.label}}*</span>
                {{form.username}}
            </div>
            {%if form.errors.email%}
            <div class="alert alert-warning" role="alert" style="width:96%">
                {{form.errors.email}}
            </div>
            {%endif%}
            <div class="input-group flex-nowrap reg-forms" style="width:95%">
                <span class="input-group-text" style="width:160px">{{form.email.label}}*</span>
                {{form.email}}
            </div>

            <div class="input-group flex-nowrap reg-forms" style="width:95%">
                <span class="input-group-text" style="width:160px">{{form.first_name.label}}</span>
                {{form.first_name}}
            </div>
            <div class="input-group flex-nowrap reg-forms" style="width:95%">
                <span class="input-group-text" style="width:160px">{{form.last_name.label}}</span>
                {{form.last_name}}
            </div>

            {%if form.errors.password1%}
            <div class="alert alert-warning" role="alert" style="width:96%">
                {{ form.errors.password1}}
            </div>
            {%endif%}
            <div class="input-group flex-nowrap reg-forms" style="width:95%">
                <span class="input-group-text" style="width:160px">Password*</span>
                {{form.password1}}
            </div>
            {%if form.errors.password2%}
            <div class="alert alert-warning" role="alert" style="width:96%">
                {{ form.errors.password2}}
            </div>
            {%endif%}
            <div class="input-group flex-nowrap reg-forms" style="width:95%">
                <span class="input-group-text" style="width:160px">Confirm password*</span>
                {{form.password2}}
            </div>
            <button class="button-89" role="button">Take It</button>
            <p>Already have an account? <b>|</b> <a href="{% url 'login'%}"> Log In</a></p>
        </fieldset>
    </form>
</div>
