{%extends 'hadesapp/base.html'%}
{%load static%}
{%block content%}
<style>
    .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



</style>
<h1>
    subscriptions_page
</h1>
<section>
    <div class="container text-center">
        <div class="row ">
            <div class="col">
                <div class="card border-warning mb-3" style="max-width: 18rem; margin:auto">
                    <div class="card-header">I follow them:</div>
                    <div class="card-body">
                        {%if not request.user.followers.all%}
                        <h3>...I follow noone. I'm so lonely.(</h3>
                        {%endif%}
                        {%for following in profile.followers.all%}
                        <ul>
                            <li><a href="{%url 'user_profile' following %}"
                                   class="list-group-item list-group-item-action list-group-item-info">
                                <img src="{%static 'media'%}/{{following.profile_pic}}" class="avatar" alt="user_pic">
                                {{following}}</a>
                            </li>
                        </ul>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning mb-3" style="max-width: 18rem; margin:auto">
                    <div class="card-header">They are following me:</div>
                    <div class="card-body">
                        {%if not request.user.followed_by.all%}
                        <h3>Who follows you? It's your paranoia again?</h3>
                        {%endif%}
                        {%for following in profile.followed_by.all%}
                        <ul>
                            <li><a href="{%url 'user_profile' following %}"
                                   class="list-group-item list-group-item-action list-group-item-info">
                                <img src="{%static 'media'%}/{{following.profile_pic}}" class="avatar" alt="user_pic">
                                {{following}}</a>
                            </li>
                        </ul>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}