{%extends 'hadesapp/base.html'%}
{%load static%}
{%block content%}
<section class="h-100 gradient-custom-2" style="margin-top:2%">
    <div class="container-fluid">
        <div class="container">
            <div class="main-body">

                <!-- Breadcrumb -->
                <!--                <nav aria-label="breadcrumb" class="main-breadcrumb">-->
                <!--                    <ol class="breadcrumb">-->
                <!--                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
                <!--                        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>-->
                <!--                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>-->
                <!--                    </ol>-->
                <!--                </nav>-->
                <!-- /Breadcrumb -->

                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="{%static 'media'%}/{{profile_pic}}"
                                         alt="place for your profile picture"
                                         class="rounded-circle" width="150">
                                    <div class="mt-3 username-box">
                                        <h4 class="main-username">{{username}}</h4>
                                        <p class="text-muted font-size-sm">On <b>UGF</b> about {{days_on_site}} days</p>
                                        {%if main_user%}
                                        <a href="{%url 'logout'%}">
                                            <button class="btn btn-outline-danger">Logout</button>
                                        </a>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        Here is subscriber block-->
                        {%include 'hadesapp/components/contact_data_profile.html'%}
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">First name:</h6>
                                    </div>

                                    <div class="col-sm-9 text-secondary">
                                        {{first_name}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Last name:</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{last_name}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">E-mail:</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{email}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Gender:</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{gender}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Date of birth:</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{date_of_birth}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">About Me:</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{about_me}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {%if main_user%}
                                        <a class="btn btn-info " target="__blank"
                                           href="{%url 'update_user_profile' request.user.username%}">Edit</a>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}

    {# ajax section! #}
{%block add_js%}
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    // Simple jQuery examples:
    // let mainUsernameSelector = $(".main-username");
    // mainUsernameSelector.on("mouseenter", function(e) {
    //     console.log(e)
    //     $(this).css({background: "pink"});
    // });
    // mainUsernameSelector.on("mouseleave", function(e) {
    //     $(this).css({background: "transparent"});
    // });
    // mainUsernameSelector.one("click", function(e) {
    //     $(this).after("<p class='goodbye'>Goodbye, Mr.Anderson.</p>");
    // });
    // $(".username-box").on("mouseenter", ".goodbye", function(e){
    //     $(this).css({background:"yellow"});
    // });

    $("button[name='following']").on("click", function(e){
        e.preventDefault();
        let laButton = $(this);
        let followValue = laButton.val();
        let data = {
            following: followValue,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        };

        $.ajax({
        type: 'POST',
          url: $("form#follow_form").attr('action'),
          data: data,
          success: function( result ) {
            if(followValue==='follow'){
                laButton.removeClass('btn-warning').addClass('btn-danger').val('unfollow').html('UNFOLLOW');
            }else{
                laButton.removeClass('btn-danger').addClass('btn-warning').val('follow').html('FOLLOW');
            };
          },
          error: function( result ){
            alert('Something with that gone wrong, better try again after reloading the page.');
          }
        });
    });

});
</script>
{%endblock%}