{%extends 'hadesapp/base.html'%}
{%load static%}
{% load pagination_tags %}
{%block content%}
<style>
    .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
</style>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{my_filter.form.as_p}}
                <button class="btn btn-success" name="submitted" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>
<div class="card my-4">
    {%if not data%}
    <h3 class="text-center m-2">Enter the search properties.</h3>
    {%else%}
    {%if not users%}
    <h3 class="text-center m-2">No results by that filters.</h3>
    {%else%}
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-black text-capitalize ps-3">Search results:</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Username</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder">First Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Last Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Gender</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Fullname</th>
                </tr>
                </thead>
                <tbody>
                {% if my_filter.is_bound %}
                {%for user in users_pages%}
                <tr>
                    <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                                <img src="{%if user.profile_pic%}{%static 'media'%}/{{user.profile_pic}}{%else%}{%static 'media'%}/images/defaults/profile_pic/default_logo.png{%endif%}" class="avatar avatar-sm me-3 border-radius-lg"
                                     alt="user.pic">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                 <a class="nav-link" href="{%url 'user_profile' user.username%}">
                                <h6 class="mb-0 text-sm">{{user.username}}</h6></a>
                                <p class="text-xs text-secondary mb-0">{{user.email}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{user.first_name}}</p>
                    </td>
                    <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{user.last_name}}</p>
                    </td>
                    <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{user.gender}}</p>
                    </td>
                    <td class="align-middle">
                        <p class="text-xs font-weight-bold mb-0">{{user.first_name}} {{user.last_name}}</p>
                    </td>
                </tr>
                {%endfor%}
                {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--pagination-->

<br/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center nav nav-pills">
        {% if users_pages.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% url_replace request 'page' 1%}">
                <<
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% url_replace request 'page' users_pages.previous_page_number%}">
                <
            </a>
        </li>
        {% endif %}
        {% for number in users_pages.paginator.page_range %}
        <li class="page-item {%if users_pages.number == number %} active {%endif%}"><a class="page-link" href="?{% url_replace request 'page' number%}">
            {{number}}
        </a>
        </li>
        {% endfor %}
        {% if users_pages.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% url_replace request 'page' users_pages.next_page_number%}">></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% url_replace request 'page' users_pages.paginator.num_pages%}">>></a>
        </li>
        {% endif %}
    </ul>
</nav>
{%endif%}
{%endif%}
{%endblock%}